<!DOCTYPE root[<!ELEMENT ProductCategory ANY>
<!ATTLIST ProductCategory id ID #REQUIRED>
<!ELEMENT StoreCheckoutPage ANY>
<!ATTLIST StoreCheckoutPage id ID #REQUIRED>
<!ELEMENT StoreProductPage ANY>
<!ATTLIST StoreProductPage id ID #REQUIRED>
<!ELEMENT StoreHomePage ANY>
<!ATTLIST StoreHomePage id ID #REQUIRED>
 

]>
<root id="-1">
  <StoreHomePage id="1054" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-05-09T14:33:51" updateDate="2014-05-14T20:25:27" nodeName="Merchello Developers Sample Site" urlName="merchello-developers-sample-site" path="-1,1054" isDoc="" nodeType="1053" creatorName="Kyle Weems" writerName="admin" writerID="1" template="1052" nodeTypeAlias="StoreHomePage">
    <StoreCheckoutPage id="1062" parentID="1054" level="2" creatorID="1" sortOrder="1" createDate="2014-05-12T16:12:27" updateDate="2014-05-14T20:41:02" nodeName="Basket" urlName="basket" path="-1,1054,1062" isDoc="" nodeType="1059" creatorName="admin" writerName="admin" writerID="1" template="1061" nodeTypeAlias="StoreCheckoutPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <pageTitle><![CDATA[Your Basket]]></pageTitle>
    </StoreCheckoutPage>
    <ProductCategory id="1066" parentID="1054" level="2" creatorID="1" sortOrder="2" createDate="2014-05-14T19:40:36" updateDate="2014-05-14T19:40:36" nodeName="Legos" urlName="legos" path="-1,1054,1066" isDoc="" nodeType="1064" creatorName="admin" writerName="admin" writerID="1" template="1063" nodeTypeAlias="ProductCategory">
      <umbracoNaviHide>0</umbracoNaviHide>
      <pageTitle><![CDATA[Legos]]></pageTitle>
      <StoreProductPage id="1067" parentID="1066" level="3" creatorID="1" sortOrder="0" createDate="2014-05-14T19:43:31" updateDate="2014-05-14T19:44:11" nodeName="Cloud Cuckoo Place" urlName="cloud-cuckoo-place" path="-1,1054,1066,1067" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="1" template="1055" nodeTypeAlias="StoreProductPage">
        <umbracoNaviHide>0</umbracoNaviHide>
        <pageTitle><![CDATA[Cloud Cuckoo Place]]></pageTitle>
        <productName><![CDATA[Cloud Cuckoo Place]]></productName>
        <productDescription><![CDATA[<p><span>Protect Emmet and Wyldstyle in The LEGO® Movie Cloud Cuckoo Palace with its flowers, multi-colored twirling discs and flower catapult.</span></p>
<p> </p>
<p>You can really buy it here http://shop.lego.com/en-US/Cloud-Cuckoo-Palace-70803</p>]]></productDescription>
        <productImage>1068</productImage>
        <merchelloProduct><![CDATA[a05c6595-15a5-49d2-b7f5-7d0fcddd0a5c]]></merchelloProduct>
      </StoreProductPage>
      <StoreProductPage id="1070" parentID="1066" level="3" creatorID="1" sortOrder="1" createDate="2014-05-14T19:59:17" updateDate="2014-05-14T20:00:09" nodeName="Bad Cop's Pursuit" urlName="bad-cops-pursuit" path="-1,1054,1066,1070" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="1" template="1055" nodeTypeAlias="StoreProductPage">
        <umbracoNaviHide>0</umbracoNaviHide>
        <pageTitle><![CDATA[Bad Cop's Pursuit]]></pageTitle>
        <productName><![CDATA[Bad Cop's Pursuit]]></productName>
        <productDescription><![CDATA[<p><span>Build The LEGO® Movie Bad Cop’s Pursuit set with collapsing train track, flying police car with laser cannons and a cool new blaster.</span></p>
<p> </p>
<p><span>You can actually buy this here http://shop.lego.com/en-US/Bad-Cop-s-Pursuit-70802</span></p>]]></productDescription>
        <productImage>1068</productImage>
        <merchelloProduct><![CDATA[58dd80bb-4d41-45d4-9594-5b14451f7ebb]]></merchelloProduct>
      </StoreProductPage>
    </ProductCategory>
    <ProductCategory id="1065" parentID="1054" level="2" creatorID="1" sortOrder="2" createDate="2014-05-12T16:23:06" updateDate="2014-05-14T20:34:42" nodeName="Kitties" urlName="kitties" path="-1,1054,1065" isDoc="" nodeType="1064" creatorName="admin" writerName="admin" writerID="1" template="1063" nodeTypeAlias="ProductCategory">
      <StoreProductPage id="1057" parentID="1065" level="3" creatorID="0" sortOrder="1" createDate="2014-05-09T14:37:48" updateDate="2014-05-14T20:36:23" nodeName="Calico" urlName="calico" path="-1,1054,1065,1057" isDoc="" nodeType="1056" creatorName="Kyle Weems" writerName="admin" writerID="1" template="1055" nodeTypeAlias="StoreProductPage">
        <umbracoNaviHide>0</umbracoNaviHide>
        <pageTitle><![CDATA[Calico]]></pageTitle>
        <productName><![CDATA[Calico]]></productName>
        <productDescription><![CDATA[<p><span>Cute and spunky never came together in such a tight package! These adorable girls (because calicos are always ladies) will keep you on your toes and smother you with love. If you're looking for adventure and romance, a Calico Cuddle is the kitten for you!</span></p>]]></productDescription>
        <productImage>1071</productImage>
        <merchelloProduct><![CDATA[56a8f0a9-1493-457d-9e46-27e3afff57f4]]></merchelloProduct>
      </StoreProductPage>
      <umbracoNaviHide>0</umbracoNaviHide>
      <pageTitle><![CDATA[Kitties]]></pageTitle>
    </ProductCategory>
    <umbracoNaviHide>0</umbracoNaviHide>
    <pageTitle><![CDATA[Home]]></pageTitle>
    <bodyText><![CDATA[<p>We've created this site to help those who are new to Merchello learn the lay of the land.</p>
<p>We recommend that you <a href="#">download the source code</a> for this sample site (a full install of Umbraco and Merchello) and begin to look through the pages both from Umbraco's back office, and from your favorite code editor.</p>
<p>If you have questions that aren't answered here, you can <a href="http://our.umbraco.org/projects/collaboration/merchello/merchello" target="_blank" title="Merchello Forums">post them to our Merchello community</a>.</p>
<p>We feel confident that you will love Merchello as much as we do -- and when you're ready, <a href="#">find out more</a> about how you can help improve Merchello!</p>
<p>Thanks,<br />The Merchello Team.</p>]]></bodyText>
    <cartPage>1062</cartPage>
  </StoreHomePage>
</root>