@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "StoreBasePage.cshtml";
}

<section id="home">

    <p><strong>StoreHomePage.cshtml (view)</strong></p>

    @CurrentPage.bodyText

</section>